@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5% 10%;
    background-color: #131416;
}

.feed {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 22px;
    margin: 40px 0 40px 0;
}

.card__category {
    font-family: 'Muli', serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ECF0F1;
    margin: 0;
}

.card__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #ECF0F1;
    margin: 10px 0 0 0;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
}
.bottom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1);
    transform: scale(1.22);
}

.bottom:hover {
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1);
    transform: scale(1.22);
}
.card:nth-child(1) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/cath-smith-PF5_cqOQFT4-unsplash.jpg");
}
.card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/IMG_2840.png");
}
.card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/Rytme.jpg");
}
.card:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/innramming1.jpg");
}
.card:nth-child(5) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/eliminert2.jpg");
}
.bottom:nth-child(13) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/Fugl.jpg");
}
.bottom:nth-child(14) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/over.jpg");
}
.bottom:nth-child(15) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/normal.jpg");
}
.bottom:nth-child(16) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/under.jpg");
}
.bottom:nth-child(17) {
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/frosk.jpg");
}

.mid-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ECF0F1;
    
}
.bottomtext {
    font-family: "Libre Baskerville", "Trebutchet MS";
    font-size: 16px;
    color: #ECF0F1;
    grid-column: 1/6;
    background-image: linear-gradient(
        to bottom,
        rgba(10,10,10,0) 0%,
        rgba(10,10,10,0) 55%,
        rgba(10,10,10,0.7) 100%), url("imgs/2017_tk_ndla_mk_kameravinkler_02.jpg");
    background-size: 100%;
    padding: 145px 0 0 10px;
    transition: all .3s ease;
}
.bottomtext:hover {
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1);
    transform: scale(1.22);
}
